{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Áldás Forrás Alapítvány"/>
    <meta property="og:image" content="http://aldasforras.hu/static/images/logo2.jpg"/>

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>

    <script src="{% static 'js/main.js' %}"></script>

    {% block title %}
        <title>Áldásforrás</title>
    {% endblock %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}" alt="Logo"/>
</head>
<body>
<nav class="navbar navbar-default navbar-expand-md fixed-top">
    <div class="container">
        <button class="navbar-toggler  mr-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="fa fa-navicon" style="font-size:28px;"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href={% url 'home' %}>{% trans 'About Us' %}</a>
                </li>
                {% get_current_language as LANGUAGE_CODE %}
                {% if LANGUAGE_CODE == 'hu' %}
                    <li class="nav-item">
                        <a class="nav-link" href={% url 'donate' %}>{% trans 'Donate' %}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href={% url 'szja' %}>Szja 1%</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="dropbtn">{% trans 'Annual reports' %}</button>
                        <div class="dropdown-content">
                            <a href="{% static 'pdf/2019_eves_beszamolo.pdf' %}" download="2019_eves_beszamolo">{% trans '2019 annual report' %}</a>
                            <a href="{% static 'pdf/2018_eves_beszamolo.pdf' %}" download="2018_eves_beszamolo">{% trans '2018 annual report' %}</a>
                            <a href="{% static 'pdf/2017_eves_beszamolo.pdf' %}" download="2017_eves_beszamolo">{% trans '2017 annual report' %}</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={% url 'contact' %}>{% trans 'Contact' %}</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="setLang('hu');">
                        <img height="15px" width="20px" src="{% static 'images/hu.png' %}" alt="Magyar"/>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="setLang('en');">
                        <img height="15px" width="20px" src="{% static 'images/gb.png' %}" alt="Magyar"/>
                    </a>
                </li>
                <form id="langForm" action="/i18n/setlang/" method="post" style="display:none;">
                    {% csrf_token %}
                    <select name="language">
                        <option value="hu">Magyar</option>
                        <option value="en">English</option>
                    </select>
                </form>
            </ul>
        </div>
    </div>
</nav>

<div id="home" class="container header">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <img id="logo" src="{% static 'images/logo.png' %}" alt="Logo">
                </div>
                <div class="col-md-9">
                    <h1>Áldás Forrás Alapítvány</h1>
                </div>
            </div>
            <div id="ige">
                <h4>{% trans '"Carry each other’s burdens" Gal 6.2' %}</h4>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>